/* Custom css for the index module */
body {
    background-color: #F3E9F6;
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    background-color: white;
    z-index: 1;
    animation-name: navbar;
    animation-duration: 0.8s;
}
@keyframes navbar {
    from {
        opacity: 0;
        transform: translateY(-10%);
        
    }
}
.navbar .navbar-brand {
  font-weight: 900;
}
.navbar .navbar-nav nav-item a {
    color: #FFFF;
    text-transform: capitalize;
    font-weight: 900px;
    letter-spacing: 1px;
    position: relative;

}

.navbar navbar-nav nav-item a::before {
    content: '';
    position: absolute;
    background-color: #FFFF;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: 0.2s ease-in-out;
}
.navbar .navbar-nav nav-item a:hover::before {
    width: 100%;
}
.custom-section {
    background-image: url('/images/bg2.png');
    height: 100vh;
    background-position: center;
}

.custom-section .btn {
    width: 50%
}

.advert {
    background-color: #F3E9F6;
}
.advert .card-text {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.advert .slideUp {
    transform: translateY(-100%);
}

.dc {
    float: left;
}

/* Specialty section */

.services .card{
    background-color: #F3E9F6;
    cursor: pointer;
}

.services .card:hover {
    background-color: #8b5ce3;
    color: white;
}

/* Doctor section */
.doctors {
    cursor: pointer;
}

.doctors .card {
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);
}
.doctors .card:hover {
    box-shadow: 0 8px 16px rgba(8, 8, 8, 0.2);
}

a::after {
    transition: 60s;
}