/* Custom style for the life situation module */
body {
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    background-color: white;
    z-index: 1;
    animation-name: navbar;
    animation-duration: 0.8s;
}

@keyframes navbar {
    from {
        opacity: 0;
        transform: translateY(-10%);

    }
}

.navbar .navbar-brand {
    font-weight: 900;
}

.navbar .navbar-nav nav-item a {
    color: #FFFF;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1px;
    position: relative;

}

.navbar navbar-nav nav-item a::before {
    content: '';
    position: absolute;
    background-color: #FFFF;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: 0.2s ease-in-out;
}

.navbar .navbar-nav nav-item a:hover::before {
    width: 100%;
}
/* #hero {
    width: 100%;
} */

#hero button {
    border-radius: 0;
    border: 1px solid;
}

#hero button:hover {
    color: white;
}

#hero .img-fluid {
    width: 1600px;
    height: 528px;
    border: none;
    padding: 0;
}

#hero .card {
    border: none;
}

#advert {
    background-color: #F3E9F6;
    width: 100%;
    cursor: pointer;
}

#advert:hover {
    color: white;
    background-color: black;
}
#acne {
    /* background-color: #FFFF; */
    /* border: 1px solid; */
    box-shadow: 0 2px 4px;
    padding: 20px;
    width: 100%;
    margin: 0px;
    transition: border-color 0.5s ease;
}

#acne h2 {
    font-weight: 1000;
}

/* Doctors section */
#doctor-section {
    background-color: #F3E9F6;
    padding-top: 10px;
}
#doctors{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 100px;
    background-color: #FFFF;
}

/* Doctors section */
#doctors .card {
    box-shadow: 0 2px 4px;
    cursor: pointer;
    border: none;
}

#doctors .card:hover {
    box-shadow: 0 4px 8px;
}

#doctors .btn {
    border: none;
    border-radius: 0px;
}

#doctors .btn:hover {
    color: white;
}

#doctors img {
    width: 800px;
    max-height: 200px;
}